<h1>
  Sử Dụng @Input
</h1>


<app-phan-tu-con
  [ho_ten]="'Nguyễn Văn A'"
  [tuoi]="tuoi_NguoiLon"
  [gender-input]="false"
  [dia_chi]="['Việt Nam', 'Hà Nội', 'Đông Anh']"
>
</app-phan-tu-con>


<app-phan-tu-mang
  [notification-input]="['Mùa xuân', 'Mùa hè', 'Mùa thu', 'Mùa đông']"
>
</app-phan-tu-mang>


<br>
<h2>
  Kết luận:
</h2>

<ol>
  <li>Giá trị "Nguyễn Văn A" được đưa vào biến "ho_ten" có kiểu dữ liệu "string"</li>
  <li>Biến "ho_ten" thì được tạo ra cùng với @Input ở bên trong "phần tử con"</li>
  <li>Sau khi biến ho_ten = "Nguyễn Văn A" thì sử dụng toán tử nội suy để in ra màn hình trang web HTML</li>
</ol>