<h1>Sử dụng ngSwitch</h1>

<br>

<div
    [style.width]="chieu_rong"
    [style.height]="chieu_cao"
    [style.border]="duong_vien"
    [style.boxSizing]="kich_thuoc_hop"
>
    <!-- cho 3 cái button -->
    <div id="sap-xep">
        <button type="button" (mousedown)="setupPermissionAdmin()">
            Quyền Admin
            <br>
            (kiểu uppercase)
        </button>
    
        <button type="button" (mousedown)="setupPermissionUser1()">
            Quyền User1
            <br>
            (kiểu lowercase)
        </button>
    
        <button type="button" (mousedown)="setupPermissionUser2()">
            Quyền User2
            <br>
            (kiểu capitalize)
        </button>
    </div>

    <ul [ngSwitch]="phan_quyen">
        <li *ngSwitchCase="'quyen_Admin'">
            <h2 class="admin">Admin đang đăng nhập!</h2>
        </li>

        <li *ngSwitchCase="'quyen_User1'">
            <h2 class="user1">User1 đang đăng nhập!</h2>
        </li>

        <li *ngSwitchCase="'quyen_User2'">
            <h2 class="user2">User2 đang đăng nhập!</h2>
        </li>

        <li *ngSwitchDefault>
            <h2>Bạn phải đăng nhập</h2>
        </li>
    </ul>
</div>